# Node.js dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
frontend/.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
.DS_Store
